/* Colors */

$color-primary-base: #0089ff;
$color-primary-darker: #0078e0;
$color-primary-darker-v2: #0878d8;
$color-primary-light: #80c4ff;
$color-primary-lighter: #b2dcff;
$color-primary-lightest: #e5f3ff;

$color-neutral-background: #f7f7f7;
$color-neutral-dark: #464c57;
$color-neutral-base: #788194;
$color-neutral-black: #000000;
$color-neutral-white: #ffffff;
$color-neutral-light: #a3acc2;
$color-neutral-lighter: #f0f4f7;
$color-neutral-field-stroke: #ebedf0;
$color-neutral-navigation: #35353e;

$color-red-base: #ff444c;
$color-neutral-field-stroke: #ebedf0;
